
/* Top section */
.uptop {
    background-color: white;
    height: 50px;
    vertical-align: bottom;
}

    .logobox {
        height: 50px;
        vertical-align: bottom;
        background-color: white;
    }
    .upmenu {
        border: 1px solid black;
    }

.updown {
    background-color: #336699;
    height: 50px;
    text-align: center;
    color: white;
}

/* Main Body */
.main {
    background-color: orange;
    height: 300px;
    text-align: center;
}

/* Footer */
.footer {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.grad_diago {
    background: -webkit-linear-gradient(left top, #336699 , #F5FAFA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #336699 , #F5FAFA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #336699 , #F5FAFA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #336699 , #F5FAFA); /* Standard syntax (must be last) */
}
.footmenus {
    font: bold 11px arial,sans-serif;
}


/* Grid System */
.col-xs-12 {
    background-color: red;
    color:white;
    text-align: center;
}
.col-xs-6 {
    color:black;
    text-align: center;
}

.col-sm-2 {
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.visible-lg {
    color: blue;
}
.visible-md {
    color: green;
}
.visible-sm {
    color: yellow;
}
.visible-xs {
    color: red;
}
/*.container {
    width: 800px;
}*/




